[Unit]
Description=NAS photo album (read-only)
After=network-online.target
Wants=network-online.target

[Mount]
What=192.168.50.25:/Фотоальбом
Where=/userdata/hass/config/media/foto
Type=nfs
Options=ro,soft,timeo=100,retrans=3,noatime,nolock,_netdev

[Install]
WantedBy=multi-user.target
